 <!-- <app-mobileinfo  (clicked)="onClicked($event)"></app-mobileinfo> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a (click)="history()">history</a></li>
          <li><a (click)="addcard()"><span class="glyphicon glyphicon-shopping-cart"></span>cart({{count}})</a></li>
          <li><a (click)="home()">home</a></li>
        <li><a (click)="logout()" ><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
