#card
{
    margin-top: 50px;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin: auto;
    display: block;
    box-shadow: 1px 0px 2px grey
}
#name
{
    margin-top: 0px;
    background-color: black;
    color:white;
}
#cost
{
    background-color: black;
    color:white;
}
#add
{
    padding-left: 20px;
}
#mobiletable
{
    margin-left: 45px;
    width:400px;
}
 td
 {
padding-left: 15px;
 }
#mainDiv
{
   margin-top:50px;
}
#smallImage
{
   margin:auto;
   height:200px;
   width:150px;
   display:block;
}
