<app-navbar></app-navbar>
<div class="row" id="mainDiv">
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <h1 id="dataname"><span id="dataName">{{data.name}}</span></h1>
  <div class="col-md-6">
    <div class="image">
      <div class="zoomin">
        <img src="{{ data.image.large }}" id="imagelarge" />
      </div>
      <h4>Ratings</h4>
      <div *ngFor=" let item of items" id="item">
        <img src="https://gomobile.herokuapp.com/assets/star_PNG1597.png" id="itemImage" />
      </div>
      <h4>Out of 5</h4>
    </div>
  </div>
  <div class="col-md-6">
    <h3 id="description">Description</h3>
    <hr>
    <h4>{{data.description}}</h4>
    <div id="item">
      <button type="button" id="wishlist" (click)="addtoCart(data)">Add to cart</button>
    </div>
    <h3 id="dataName1">{{data.name}}</h3>
    <div class="money">
      <h2 id="data22" style="">{{data.price}}</h2>
      <img src="https://gomobile.herokuapp.com/assets/money-clipart-aceKxL9Ei.png" id="star" />
    </div>
    <hr id="hrline" />
    <table id="dataTable">
      <tr>
        <td>
          <h4>camera:</h4></td>
        <td>
          <h4>{{data.specs.camera}}</h4></td>
      </tr>
      <tr>
        <td>
          <h4>company:</h4></td>
        <td>
          <h4>{{data.specs.manufacturer}}</h4></td>
      </tr>
      <tr>
        <td>
          <h4>os:</h4></td>
        <td>
          <h4>{{data.specs.os}}</h4></td>
      </tr>
      <tr>
        <td>
          <h4>storage:</h4></td>
        <td>
          <h4>{{data.specs.storage}}</h4></td>
      </tr>
    </table>
    <button type="button" id="wishlistButton" (click)="wishlist(data)">Add to wishlist</button>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>
