<!-- <div class="container">
      <section class="panel">
        <div class="panel-heading">Angular (+2,4) Youtube Player Component</div>
        <div *ngFor="let data of youtubedata"  class="panel-body">
          <youtube-player  [videoId]="data.videoId"   (ready)="savePlayer($event)" (change)="onStateChange($event)" >
          </youtube-player>
        </div>
      </section>

      <div class="col-md-12">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" (click)="playVideo()">Play</button>
          <button type="button" class="btn btn-default" (click)="pauseVideo()">Pause</button>
        </div>
      </div>

      <div class="col-md-12">
        <section class="panel">
          <div class="panel-title">Player State</div>
          <div class="panel-body">
            <pre>{{ ytEvent }}</pre>
          </div>
        </section>
      </div>
    </div> -->
    <app-navbar></app-navbar>
    <div  class="col-lg-12">
      <div style="z-index: 2;
    box-shadow: 3px 0 3px -1px rgba(5,2,2,.15);height:650px;overflow-x:hidden;margin-top:64px;"  class="col-lg-4 col-sm-4 col-md-4">
   <input style="margin:auto;display:block;height:6%;width:100%;" placeholder="search.." [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>
        <div><h3 style="text-align:center;" (click)="googleclick()">GoogleVideos</h3></div>
         <div  *ngIf="googlevalue">
            <div *ngFor="let data of youtubedata |filter:term ">
            <div id="history" class="col-lg-10" style="border:1px solid black;padding:10px;" (click)="youtube(data)">
          <div class="col-lg-6" >
          <img src="{{data.snippet.thumbnails.default.url}}"/>
            </div>
            <div class="col-lg-6">
               {{data.snippet.title}}
            </div>
         </div>
         </div>
      </div>
      <div><h3 style="text-align:center;" (click)="sonyclick()">SonyVideos</h3></div>
      <div  *ngIf="sonyvalue">
         <div *ngFor="let data of sonydata |filter:term">
         <div id="history"  class="col-lg-10" style="border:1px solid black;padding:10px;" (click)="youtube(data)">
       <div class="col-lg-6" >
       <img src="{{data.snippet.thumbnails.default.url}}"/>
         </div>
         <div class="col-lg-6">
            {{data.snippet.title}}
         </div>
      </div>
      </div>
   </div>
      <div><h3 style="text-align:center;" (click)="samsungclick()">SamsungVideos</h3></div>
      <div *ngIf="samsungvalue">
         <div *ngFor="let data of samsungdata |filter:term">
         <div id="history" class="col-lg-10" style="border:1px solid black;padding:10px;" (click)="youtube(data)">
       <div class="col-lg-6" >
       <img src="{{data.snippet.thumbnails.default.url}}"/>
         </div>
         <div class="col-lg-6">
            {{data.snippet.title}}
         </div>
      </div>
      </div>
   </div>
   </div>
      <div class="col-lg-4">
         <div  style="height:300px;border 1px solid black;margin-top:70px;">
            <div style="width:320px;height:180px;">

           <img src="{{playImage}}"/>
            </div>
            <!-- <div class="btn-group" role="group"> -->
            <img alt="SFSd" src="assets/icons8-Play Filled_30.png" (click)="playVideo()"/>
            <img src="assets/icons8-Pause Filled_30.png" (click)="pauseVideo()">

              <!-- <button type="button" class="btn btn-default" (click)="playVideo()">Play</button>
              <button type="button" class="btn btn-default" (click)="pauseVideo()">Pause</button> -->
            <!-- </div> -->
<hr>
<!-- <img src="/Downloads/icons8-Pause Filled_30.png" (click)="pauseVideo()"> -->
         </div>
         <div>
          <!-- <h3 style="background-color:black;color:white;margin-top:0px">my playlist</h3> -->
          <div  style="overflow-x:hidden;height:600px;">
             <div *ngFor="let data of playlistdata" >
                <div id="playlist" class="col-lg-12" style="border:1px solid black;padding:5px;"  (click)="mediaPlayer(data)">
               <div style="float:right"><span class="glyphicon glyphicon-trash" (click)="deleteData(data)"></span>
               </div>
              <div class="col-lg-6"  >
              <img src="{{data.snippet.thumbnails.default.url}}"/>
                </div>
                <div style="margin-top:-10px;padding-left:29px;" class="col-lg-6">
                  {{data.snippet.title}}
                </div>
             </div>
             </div>
         </div>
      </div>

   </div>
      <div class="col-lg-4" style="margin-top:64px;height:100%;box-shadow: 0px 10px 10px #888888;" >

         <!-- <youtube-player  [videoId]='youplay'  (ready)="savePlayer($event)"
            (change)="onStateChange($event)">
         </youtube-player> -->
         <div style="width:360px;height:300px">
          <iframe width="360" height="300" [src]="url"  frameborder="0" allowfullscreen></iframe>
       </div>
         <div  style="height:500px;overflow-x:hidden;">
         <div *ngFor="let data of playedInfo" >
            <div id="history" class="col-lg-12" style="border:1px solid black;padding:10px;"  (click)="mediaPlayer(data)">
           <div style="float:right"><span class="glyphicon glyphicon-trash" (click)="deleteDataplay(data)"></span>
           </div>
           <div  class="col-lg-6">
             {{data.snippet.title}}
           </div>
          <div class="col-lg-6" style="margin-top:-10px;padding-left:29px;" >
          <img src="{{data.snippet.thumbnails.default.url}}"/>
            </div>
         </div>
         </div>
         <!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/{{yoyplay}}">
</iframe> -->
      </div>
   </div>
</div>
