
    <app-navbar></app-navbar>
    <div  class="col-lg-12" id="mainDiv">
      <div  id="rowDiv" class="col-lg-4 col-sm-4 col-md-4">
   <input id="search" placeholder="search.." [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>
        <div><h3 id="googlevideo" (click)="googleclick()">GoogleVideos</h3></div>
         <div  *ngIf="googlevalue">
            <div *ngFor="let data of youtubedata |filter:term ">
            <div id="history" class="col-lg-10" (click)="youtube(data)">
          <div class="col-lg-6">
          <img src="{{data.snippet.thumbnails.default.url}}"/>
            </div>
            <div class="col-lg-6">
               {{data.snippet.title}}
            </div>
         </div>
         </div>
      </div>
      <div><h3 id="googlevideo" (click)="sonyclick()">SonyVideos</h3></div>
      <div  *ngIf="sonyvalue">
         <div *ngFor="let data of sonydata |filter:term">
         <div id="history"  class="col-lg-10" style="border:1px solid black;padding:10px;" (click)="youtube(data)">
       <div class="col-lg-6" >
       <img src="{{data.snippet.thumbnails.default.url}}"/>
         </div>
         <div class="col-lg-6">
            {{data.snippet.title}}
         </div>
      </div>
      </div>
   </div>
      <div><h3 id="googlevideo" (click)="samsungclick()">SamsungVideos</h3></div>
      <div *ngIf="samsungvalue">
         <div *ngFor="let data of samsungdata |filter:term">
         <div id="history" class="col-lg-10" (click)="youtube(data)">
       <div class="col-lg-6" >
       <img src="{{data.snippet.thumbnails.default.url}}"/>
         </div>
         <div class="col-lg-6">
            {{data.snippet.title}}
         </div>
      </div>
      </div>
   </div>
   </div>
      <div class="col-lg-4">
         <div id="playData">
            <div id="playImage">

           <img src="{{playImage}}"/>
            </div>
            <!-- <div class="btn-group" role="group"> -->
            <img id="playlistImage" (click)="nextplay()" src="assets/icons8-Fast Forward Filled-20.png">
            <img alt="SFSd" id="play-button" (click)="playButton()" src="assets/icons8-Play Filled_30.png"/>
            <img id="playlistImage" (click)="previousplay()" src="assets/icons8-Rewind Filled-20.png">
            <img id="playlistImage" (click)="stopButton()" src="assets/26445.png">
            <button type="button" (click)="clearPlaylist()">clearPlaylist</button>

              <!-- <button type="button" class="btn btn-default" (click)="playVideo()">Play</button>
              <button type="button" class="btn btn-default" (click)="pauseVideo()">Pause</button> -->
            <!-- </div> -->
<hr>
<!-- <img src="/Downloads/icons8-Pause Filled_30.png" (click)="pauseVideo()"> -->
         </div>
         <div>
          <!-- <h3 style="background-color:black;color:white;margin-top:0px">my playlist</h3> -->
          <div id="playlistInfo">
             <div *ngFor="let data of playlistdata" >
                <div id="playlist" class="col-lg-12" style="padding:5px;"  (click)="mediaPlayer(data)">
               <div id="delete" style=""><span class="glyphicon glyphicon-trash" (click)="deleteData(data)"></span>
               </div>
              <div class="col-lg-3">
              <img id="playedImage"  src="{{data.snippet.thumbnails.default.url}}"/>
                </div>
                <div id="playTitle"  class="col-lg-9">
                  {{data.snippet.title}}
                </div>
             </div>
             </div>
         </div>
      </div>

   </div>
      <div class="col-lg-4"  style="margin-top:64px;height:100%;box-shadow: 0px 10px 10px #888888;" >

         <!-- <youtube-player  [videoId]='youplay'  (ready)="savePlayer($event)"
            (change)="onStateChange($event)">
         </youtube-player> -->
         <div  id="player">
          <iframe  width="360px" height="250px" [src]="url"  frameborder="0" allowfullscreen></iframe>
       </div>
         <div id="playerdiv">
         <div *ngFor="let data of playedInfo" >
            <div id="history" class="col-lg-12 hist" (click)="youtube(data)">
           <div style="float:right"><span class="glyphicon glyphicon-trash" (click)="deleteDataplay(data)"></span>
           </div>
           <div  class="col-lg-8">
             {{data.snippet.title}}
           </div>
          <div class="col-lg-4" style="margin-top:-10px;" >
          <img id="defaultImage"  src="{{data.snippet.thumbnails.default.url}}"/>
            </div>
         </div>
         </div>
         <!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/{{yoyplay}}">
</iframe> -->
      </div>
   </div>
</div>
