<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()" ><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        <li><a ><span class="glyphicon glyphicon-log-in"></span> gihub</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id=sidebar>
    <form>
        <h5>Manufacturer</h5>
    <div class="checkbox">
      <label><input type="checkbox" value="">Samsung</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Apple</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>htc</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>Nokia</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>sony</label>
    </div>
    <h5>Storage</h5>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>16</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>32</label>
    </div>
    <h5>Os</h5>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>Windows</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>Android</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>Ios</label>
    </div>
    <h5>Camera</h5>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>5</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>8</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>13</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>16</label>
    </div>
    <button type="button" class="btn btn-primary">Select All</button>
  </form>
</div>
fsdfsdfsdf dsfsdfsdfs
