<app-navbar>
</app-navbar>
<div class="col-sm-2 col-sm-2 col-sm-2">
  <app-sidebar (clicked)="onClicked($event)"></app-sidebar>
</div>
<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9" style="margin-top:60px;">
  <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4" *ngFor="let data of mobilerating|filterdata:arryd">
    <div class="image" id="img22">
      <img id="img" src="{{ data.image.small }}" />
      <div class="overlay">
        <h2>{{data.name}}</h2>
        <small id="specs"><strong>camera:</strong>{{data.specs.camera}}</small><br>
        <small id="specs"><strong>company:</strong>{{data.specs.manufacturer}}</small><br>
        <small id="specs"><strong>os:</strong>{{data.specs.os}}</small><br>
        <small id="specs"><strong>storage:</strong>{{data.specs.storage}}</small><br>
        <small id="specs"><strong>rating:</strong>{{data.rating}}</small><br>
        <button type="button" (click)="mobileInfo(data)" class="btn btn-primary">buy</button>
      </div>
    </div>
  </div>
  <div *ngIf="arryd?.length==0" style="" id="noSpecs">
    <marquee>
      <h2 id="h2specs">No Device of this specification.</h2>
    </marquee>
  </div>
</div>
